/** @format */

.container {
  display: flex;
}

.footerCard {
  background-image: url("../assets/scroll.png");
  background-position: absolute;
  background-size: 100% 100%;
  color: white;
  width: 22rem;
  height: 22rem;
  .footerImg {
    margin-top: 2rem;
  }
  h4 {
    color: rgb(137, 96, 50);
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  h5 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: black;
  }
}
.contacts {
  text-align: left;
  margin-top: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: black;
}
.email {
  margin-top: 5px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  list-style-type: disc;
}

.numbers {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.imgLogo {
  border-radius: 50%;
}
