/** @format */

.container {
  display: flex;
}

.footerCard {
  background-image: url("../assets/scroll.png");
  background-size: 100% 100%;
  width: 22rem;
  height: 22.5rem;
}

.footerImg {
  margin-top: 32px;
}

h3 {
  color: rgb(137, 96, 50);
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: black;
}
.h6Title {
  text-align: left;
  margin-top: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: black;
}

.text {
  margin-top: 5px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  list-style-type: disc;
  color: black;
  .number {
    color: black;
  }
}

.imgLogo {
  border-radius: 50%;
  margin-top: 1px;
  margin-left: 55px;
}

.footerBigCard {
  background-image: url("../assets/scroll.png");
  background-size: 100% 100%;
  width: 23rem;
  height: 24.5rem;
  .footerBigImg {
    margin-top: 35px;
  }
  .bigImgLogo {
    border-radius: 50%;
    margin-top: 3px;
    margin-bottom: 8rem;
    margin-left: 55px;
  }
}
