/** @format */

.containerCardsAbout {
  display: flex;
  background: #c7f9cc;
  box-sizing: border-box;
  padding: 1rem;
  gap: 2rem 5rem;
  flex-wrap: wrap;
  justify-content: center;
  height: 530px;
}
