/** @format */
.privacyContainer {
  padding: 20px 30px;
}
.privacy-policy {
  .titlePrivacyPolicy{
    font-family: 'Times New Roman', Times, serif; 
    color: #184e77;
  }
  margin-top: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
}

.hr {
  margin: 10px auto;
  background-color: #184e77;
  border: none;
  width: 70%;
  height: 2px;
}

.privacyEnd {
  margin-top: 45px;
  color: #184e77;
  text-align: center;
}
