/** @format */
.privacyContainer {
  background-color: burlywood;
  padding: 20px 30px;
}
.privacy-policy {
  .titlePrivacyPolicy{
    font-family: 'Times New Roman', Times, serif; 
    color: rgb(137, 96, 50);
  }
  margin-top: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
}

.hr {
  margin: 10px auto;
  background-color: black;
  border: none;
  width: 70%;
  height: 2px;
}

.privacyEnd {
  margin-top: 45px;
  color: #4b3b3b;
  text-align: center;
}
