/** @format */
.totalServicesDiv {
  height: 500px;
  text-align: center;
}
.containerServices {
  margin-top: 7rem;
}
.servicesFooter {
  color: #184e77;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 1.5vw;
}

.servicesP {
  margin-top: 2px;
  color: black;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
}



.servicesEnd {
  margin-top: 5rem;
  color: #184e77;
  position: relative;
  text-align: center;
}
