.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
  bottom: 35px;
}
.notCurrentButton {
  height: 10px;
  width: 10px;
  background-color: #42a5f5;
  margin: 20px;
  border-radius: 5px;
  border: none;
  border: 1px solid #00b4d8;
}
.currentButton {
  height: 16px;
  width: 16px;
  background-color: #42a5f5;
  border-radius: 8px;
  margin: 16px;
  border: 1px solid #00b4d8;
}
