/* Calendar container */
.calendar-content {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #e0f0f7;
  font-family: "Georgia", serif;
  padding: 20px;
  border: 1px solid #d1d1d1;
  position: relative;
  top: 70px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e8f3f7;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 400px;
  border: 1px solid #d1d1d1;
}

.modal h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #168aad;
}

.modal input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #1a759f;
  font-size: 1rem;
  color: #184e77;
}

.modal button {
  background-color: #168aad;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: #1e6091;
}

.modal button:last-child {
  background-color: #9b9b6e;
}

.modal button:last-child:hover {
  background-color: #828256;
}

/* Event List */
h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  color: #168aad;
  font-weight: bold;
}

#list-event {
  list-style-type: none;
  padding: 0;
}

#list-event li {
  font-size: 1rem;
  padding: 10px;
  border-bottom: 1px solid #d1d1d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f7fa;
}

#list-event li button {
  background-color: #1a759f;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

#list-event li button:hover {
  background-color: #184e77;
}

.rbc-btn-group {
  margin-bottom: 10px;
}

.rbc-btn-group button {
  background-color: #1a759f;
  color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rbc-btn-group button:hover {
  background-color: #168aad;
}

.rbc-day-bg {
  cursor: pointer;
  background-color: #f0f7fa;
}
.rbc-row-content {
  z-index: 0 !important;
}
.rbc-day-bg:hover {
  background-color: #e0e0e0;
}

/* Stile del calendario */
.rbc-calendar {
  font-family: "Georgia", serif;
}

.rbc-header {
  background-color: #168aad;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.rbc-month-view .rbc-header,
.rbc-week-view .rbc-header {
  border-bottom: 2px solid #d1d1d1;
}

.rbc-event {
  background-color: #1a759f;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.9rem;
}

.rbc-event:hover {
  background-color: #184e77;
}

.rbc-selected {
  background-color: #e0e0e0 !important;
  color: #168aad;
}

.rbc-today {
  background-color: #168aad;
  font-weight: bold;
  color: white;
}

/* Personalizzazione della barra di scorrimento */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #168aad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1a759f;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f4;
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  display: none;
}

.rbc-time-header.rbc-overflowing {
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  box-sizing: border-box;
}

.rbc-time-content {
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  box-sizing: border-box;
}

.rbc-time-header,
.rbc-time-content {
  display: flex;
}

.rbc-time-header .rbc-time-column,
.rbc-time-content .rbc-time-column {
  display: block;
  box-sizing: border-box;
}

@media only screen and (max-width: 760px) {
  .calendar-content {
    width: 100%;
    padding: 15px;
    margin: 2px;
  }

  .modal {
    width: 80%;
    padding: 15px;
  }

  .modal h2 {
    font-size: 1.2rem;
  }

  .modal input {
    padding: 10px;
    font-size: 0.9rem;
  }

  .modal button {
    padding: 10px 15px;
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  #list-event li {
    font-size: 0.9rem;
    padding: 8px;
  }

  .rbc-header {
    font-size: 0.9rem;
    padding: 8px;
  }

  .rbc-btn-group button {
    font-size: 0.85rem;
    padding: 4px 8px;
  }

  .rbc-event {
    font-size: 0.8rem;
    padding: 4px;
  }
}

@media screen and (min-width: 761px) and (max-width: 1024px) {
  .calendar-content {
    width: 95%;
    padding: 18px;
    margin: 20px;
  }

  .modal {
    width: 90%;
    padding: 20px;
  }

  .modal h2 {
    font-size: 1.4rem;
  }

  .modal input {
    padding: 11px;
    font-size: 0.95rem;
  }

  .modal button {
    padding: 11px 18px;
    font-size: 0.95rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  #list-event li {
    font-size: 1rem;
    padding: 10px;
  }

  .rbc-header {
    font-size: 1rem;
    padding: 10px;
  }

  .rbc-btn-group button {
    font-size: 1rem;
    padding: 6px 12px;
  }

  .rbc-event {
    font-size: 0.9rem;
    padding: 5px;
  }
}
