.card {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* padding: 16px; */
  width: 450px;
  height: 300px;
  text-align: center;
  border: 2px solid #b5e48c;
  background-image: linear-gradient(to left, #b5e48c, #52b69a);
  background-position: center;
  background-size: 100% 100%;
  transition: 0.3s ease;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;
}

.previous {
  height: 50px;
  width: 50px;
  rotate: y 180deg;
  position: relative;
  top: 125px;
}

.previous:hover {
  cursor: pointer;
}

.next:hover {
  cursor: pointer;
}

.next {
  height: 50px;
  width: 50px;
  position: relative;
  top: 125px;
}

.card:hover {
  cursor: pointer;
  margin: 0;
}

.card-image {
  position: relative;
  top: 0;
  /* max-width: 100%; */
  /* border-radius: 8px; */
  width: 444px;
  height: 180px;
  margin: 0 auto;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-title {
  position: relative;
  top: 20px;
  font-size: 1.3em;
  margin: 10px 0;
  color: rgb(49, 48, 48);
  text-shadow: 1px 1px sienna;
}

.card-content {
  margin-top: 20px;
  font-size: 0.9em;
  color: #555;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 30px;
  height: 400px;
  background-color: #f0ffff;
  font-family: Arial, Helvetica, sans-serif;
}

.card-wrapper {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
}

.cards-date {
  display: flex;
  justify-content: end;
  font-size: 12px;
}

.event-footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.price-container {
  width: 100%;
  padding: 10px;
  border: 2px solid #4caf50;
  border-bottom-left-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.payment-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: 8px;
  font-size: 16px;

  height: 50px;
}

.payment-button:hover {
  background-color: #45a049;
}

/* Media queries per responsività */
@media only screen and (max-width: 760px) {
  .card {
    width: 200px;
    height: 150px;
  }
  .card-title {
    font-size: 1em;
    top: 5px;
  }
  .card-content {
    font-size: 0.7em;
    margin-top: 10px;
  }
  .cards-container {
    gap: 200px;
  }
  .next {
    position: absolute;
    top: 900px;
    right: 20px;
  }
  .previous {
    position: absolute;
    top: 900px;
    left: 20px;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1300px) {
  .card {
    width: 250px;
    height: 350px;
  }
  .card-title {
    font-size: 1.1em;
    top: 5px;
  }
  .card-content {
    font-size: 0.8em;
    margin-top: 10px;
  }
  .next {
    position: absolute;
    top: 1050px;
    right: 20px;
  }
  .previous {
    position: absolute;
    top: 1050px;
    left: 20px;
  }
}
