.card {
  /* border: 2px solid burlywood; */
  border-radius: 8px;
  padding: 16px;
  width: 400px;
  height: 300px;
  text-align: center;
  /* background-image: linear-gradient(to bottom, white, burlywood); */
  /* background-image: url("../assets/scroll.png"); */
  border: 2px solid #b5e48c;
  background-image: linear-gradient(to right, #b5e48c, #52b69a);
  background-position: center;
  background-size: 100% 100%;
  transition: 0.3s ease;
  margin: 2px 0;

  /* box-shadow: 10px 10px 5px burlywood; */
}
.previous {
  height: 50px;
  width: 50px;
  rotate: y 180deg;
  position: relative;
  top: 125px;
}
.previous:hover {
  cursor: pointer;
}
.next:hover {
  cursor: pointer;
}
.next {
  height: 50px;
  width: 50px;
  position: relative;
  top: 125px;
}
.card:hover {
  cursor: pointer;
  /* box-shadow: 20px 10px 5px burlywood; */
  margin: 0;
}
.card-image {
  position: relative;
  top: 20px;
  max-width: 100%;
  border-radius: 8px;
  height: 100px;
  width: 150px;
}

.card-title {
  position: relative;
  top: 20px;
  font-size: 1.3em;
  margin: 10px 0;
  color: rgb(49, 48, 48);
  text-shadow: 1px 1px sienna;
}

.card-content {
  margin-top: 20px;
  font-size: 0.9em;
  color: #555;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 30px;
  height: 330px;
  background-color: #f0ffff;
  font-family: Arial, Helvetica, sans-serif;
}

.card-wrapper {
  padding: 20px;
}

.cards-date {
  display: flex;
  justify-content: end;
  font-size: 12px;
}
@media only screen and (max-width: 760px) {
  .card {
    width: 200px;
    height: 150px;
  }
  .card-title {
    font-size: 1em;
    top: 5px;
  }
  .card-content {
    font-size: 0.7em;
    margin-top: 10px;
  }
  .cards-container {
    gap: 200px;
  }
  .next {
    position: absolute;
    top: 900px;
    right: 20px;
  }
  .previous {
    position: absolute;
    top: 900px;
    left: 20px;
  }
}
@media only screen and (min-width: 761px) and (max-width: 1300px) {
  .card {
    width: 200px;
    height: 150px;
  }
  .card-title {
    font-size: 1em;
    top: 5px;
  }
  .card-content {
    font-size: 0.7em;
    margin-top: 10px;
  }
  .next {
    position: absolute;
    top: 1050px;
    right: 20px;
  }
  .previous {
    position: absolute;
    top: 1050px;
    left: 20px;
  }
}
