.card {
  border: 2px solid lightblue;
  border-radius: 8px;
  padding: 16px;
  width: 150px;
  height: 200px;
  text-align: center;
  background-image: linear-gradient(to bottom, white, lightblue);
  transition: 0.3s ease;
  margin: 2px 0;
  box-shadow: 10px 10px 5px lightskyblue;
}
.card:hover {
  cursor: pointer;
  box-shadow: 20px 10px 5px lightskyblue;
  margin: 0;
}
.card-image {
  max-width: 100%;
  border-radius: 8px;
  height: 100px;
  width: 150px;
}

.card-title {
  font-size: 1.5em;
  margin: 10px 0;
}

.card-content {
  font-size: 1em;
  color: #555;
}

.cards-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
