#container {
  background-image: url("src/assets/map.jpg");
  background-position: bottom;
  text-align: center;
  height: 480px;
}
#carousel {
  margin-right: 38px;
}
.firstImage {
  width: 300px;
  height: 300px;
  position: relative;
  opacity: 0.5;
  rotate: 5deg;
  box-shadow: 10px 10px 5px rgb(49, 48, 48);
}
.firstImage:hover {
  bottom: 5px;
  box-shadow: 10px 15px 5px rgb(49, 48, 48);
}
.secondImage {
  width: 300px;
  height: 300px;
  position: relative;
  box-shadow: 10px 10px 5px rgb(49, 48, 48);
}
.secondImage:hover {
  bottom: 5px;
  box-shadow: 10px 15px 5px rgb(49, 48, 48);
}

.thirdImage {
  width: 300px;
  height: 300px;
  position: relative;
  opacity: 0.5;
  rotate: -5deg;
  box-shadow: 10px 10px 5px rgb(49, 48, 48);
}
.thirdImage:hover {
  bottom: 5px;
  box-shadow: 10px 15px 5px rgb(49, 48, 48);
}

#next {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 540px;
  right: 8vw;
  z-index: 1;
}
#next:hover {
  cursor: pointer;
}
#previous {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 540px;
  left: 10vw;
  rotate: y 180deg;
  z-index: 1;
}
#previous:hover {
  cursor: pointer;
}
#carousel {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.lateral img:hover {
  cursor: pointer;
}

.central img:hover {
  cursor: pointer;
}
.lateral {
  width: 300px;
  height: 300px;
  padding: 20px;
}
.central {
  width: 300px;
  height: 300px;
  padding: 20px;
}
.description h2 {
  background-image: url("../assets/wood.png");
  background-position: center;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  width: 350px;
  height: 30px;
  box-shadow: 10px 15px 5px rgb(49, 48, 48);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(49, 48, 48);
  text-shadow: 2px 2px sienna;
}
.description {
  display: flex;
  justify-content: center;
  position: relative;
}
#descriptionUp {
  bottom: -5px;
}
#descriptionUp h2 {
  width: 300px;
}
#descriptionDown {
  margin-top: 40px;
}
.description:hover {
  cursor: pointer;
}
@media only screen and (min-width: 761px) and (max-width: 1024px) {
  .lateral {
    width: 0px;
    height: 0px;
    overflow: hidden;
    opacity: 0;
  }
}
@media only screen and (max-width: 760px) {
  .lateral {
    width: 0px;
    height: 0px;
    overflow: hidden;
    opacity: 0;
  }
  .secondImage {
    height: 200px;
    width: 200px;
  }
  #carousel {
    margin-right: 0;
  }
  #next {
    right: 10px;
    height: 50px;
    width: 50px;
    top: 520px;
  }
  #previous {
    left: 10px;
    height: 50px;
    width: 50px;
    top: 520px;
  }
  #container {
    height: 350px;
  }
  .central {
    height: 200px;
    width: 200px;
    padding: 0px;
    margin-top: 20px;
  }
  #descriptionDown {
    margin-top: 0px;
  }
}
