/** @format */

.footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 30px;
  background: linear-gradient(#0096c7, #90e0ef);
  color: #03045e;
  border: 2px solid #023e8a;
  // height: 15.5dvw;
  .columnsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    .footerColumns {
      display: flex;
      flex-direction: column;
      align-items: center;
      .footerTitles {
        text-align: center;
        justify-content: center;
        color: #03045e;
        margin-top: 1vw;
        margin-bottom: 2vw;
        text-align: center;
        text-shadow: 1px 1px #023e8a;
      }

      #footerUl {
        padding: 4px;
        list-style-type: none;
        text-align: center;
        .footerLi {
          background-color: transparent;
          font-size: large;

          border: none;
          transition: 0.2s ease;
        }
      }

      .footerLi:hover {
        text-shadow: #90e0ef;
        color: #023e8a;
        text-shadow: 1px 1px #90e0ef;
        outline: none;
        border: none;
      }
    }
    p {
      text-align: center;
    }
  }

  .links {
    color: #03045e;
  }
}
.mediaLogo {
  text-align: center;
  color: #03045e;
  position: relative;
  margin-left: 3.5vw;
  margin-top: 1vw;
}
.endFooter {
  display: flex;
  justify-content: center;
  margin-left: 3.5vw;
}

@media only screen and (max-width: 760px) {
  .columnsContainer {
    display: flex;
    // margin-top: 15vw;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  #footerH4 {
    margin-top: 8px;
    margin-bottom: 0 auto;
  }
  .mediaUl {
    margin-bottom: 10px;
    align-items: center;
  }

  .mediaLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vw;
    .endFooter {
      align-items: center;
      color: #184e77;
    }

    .links {
      text-align: center;
      right: 0;
      margin-right: 5vw;
      margin-bottom: 7vw;
      text-align: right;
      padding: 0%;
    }
  }
}

@media screen and (min-width: 761px) and (max-width: 1024px) {
  .footerColumns {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
  }
  .footerTitles {
    display: flex;
    justify-content: center;
  }
  #firstTitle {
    margin-top: 6vw;
  }
  .mediaLogo {
    position: relative;
    margin-left: 70vw;
    margin-top: 5vw;
    bottom: 0;
  }

  .endFooter {
    margin-left: 73vw;
    text-align: center;
  }
}
