/** @format */

.footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 30px;
  background: linear-gradient(#b5e48c, #52b69a);
  color: black;
  position: relative;
}

.columnsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  .footerColumns {
    display: flex;
    flex-direction: column;
    align-items: center;
    #footerH4 {
      margin-top: 1vw;
      margin-bottom: 13px;
      text-align: center;
      text-shadow: 1px 1px #168AAD
       }

    #footerUl {
      padding: 4px;
      list-style-type: none;
      text-align: center;
      .footerLi {
        background-color: transparent;
        border: none;
        transition: 0.2s ease;
      }
    }

    .footerLi:hover {
      text-shadow: #333;
      color: #168AAD;
      text-shadow: 1px 1px grey;
      outline: none;
      border: none;
    }
  }

  p {
    text-align: center;
  }
}
.links {
  color: #184e77;
}

.footerLogo {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  padding: 17px;
  margin-left: 36vw;
  margin-bottom: 1vw;
  opacity: 0.8;
  background-color: azure;
  border: 2px solid  #184e77;
  border-radius: 10px;
}
.endFooter {
  color: #184e77;
  position: relative;
  margin-left: 44vw;
  margin-bottom: 3px;
}

@media only screen and (max-width: 760px) {
  .columnsContainer {
    margin-top: 15vw;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  #footerH4 {
    margin-top: 8px;
    margin-bottom: 0 auto;
  }
  .mediaUl {
    margin-bottom: 10px;
  }

  .footerLogo {
    position: relative;
    z-index: 0;
    bottom: 3vw;
    right: 40vw;
    margin-left: 25vw;
    margin-bottom: 19px;
  }
  .endFooter {
    text-align: center;
    color: #184e77;
    bottom: 18vw;
    left: 0vw;
    margin-top: 5vw;
    margin-right: 20vw;
    margin-left: 23vw;

    .links {
      text-align: center;
      right: 0;
      margin-right: 5vw;
      margin-bottom: 7vw;
      text-align: right;
      padding: 0%;
    }
  }
}

@media screen and (min-width: 761px) and (max-width: 1024px) {
  .firstTitle {
    margin-top: 8px;
    margin-bottom: 0 auto;
  }

  .footerLogo {
    position: relative;
    top: 4vw;
    z-index: 0;
    bottom: 0;
    margin-bottom: 7px;
  }
  .endFooter {
    position: relative;
    left: 9vw;
    bottom: 2vw;
  }
}
