/** @format */

.footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 30px;
  background-image: url("../assets/scroll.png");
  background-position: absolute;
  background-size: 100% 100%;
  color: #4b3b3b;
  position: relative;
}

.columnsContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.footerColumns {
  h4 {
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 1px 1px sienna;
  }

  ul {
    padding: 4px;
    align-items: center;
    text-align: center;
    list-style-type: none;
  }

  .footerLi {
    transition: 0.2s ease;
  }

  .footerLi:hover {
    text-shadow: #333;
    color: black;
    font-size: larger;
    text-shadow: 1px 1px sienna;
    outline: none;
    border: none;
    font-size: larger;
  }

  p {
    text-align: center;
  }
}
.links {
  color: #4b3b3b;
}

.footerLogo {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 17px;
  margin-left: 36rem;
  margin-bottom: 15px;
  opacity: 0.5;
}
.endFooter {
  color: #4b3b3b;
  position: relative;
  margin-left: 40rem;
}
