.unicoDiv {
  height: 600px;
  display: flex;
  justify-content: space-around;
  background-color: #c7f9cc;
  
}
@media only screen and (max-width: 1250px) {
  .unicoDiv {
    height: 1000px;
    justify-content: space-between;
    flex-direction: column;
  }
}
