.reviewCardsContainer {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: rgb(33, 33, 33);
  /* height: 700px; */
  overflow-x: hidden;
  position: absolute;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 44%,
    rgba(0, 212, 255, 1) 100%
  ); */
}

.reviewCardsContainerWrapper {
  position: relative;
  height: 700px;
  display: flex;
  /* background-color: red; */
}

.reviewCards {
  width: 300px;
}

.ratings {
  width: 100px;
  height: 80px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #f5b342;
  font-family: "Arial", sans-serif;
}

.ratings i {
  color: #f5b342;
  font-size: 1.5rem;
}

.dateImage {
  display: flex;
  align-items: center;
  position: relative;
}

.reviewCard {
  padding: 2rem;
  border-radius: 10px;
  background-size: 100% 100%;
  width: 350px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border: 1px solid #0d47a1;
}

.authorInfo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.authorImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  /* margin-right: 10px; */
}

.authorName {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-left: 12px;
}

.arrowLeft,
.arrowRight {
  height: 40px;
  width: 40px;
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a90e2;
  font-size: 1.5rem;
}

.arrowLeft {
  left: 1rem;
  transform: rotate(180deg);
}

.arrowRight {
  right: 1rem;
}

.arrowLeft:hover,
.arrowRight:hover {
  cursor: pointer;
  color: #357abd;
}
.reviewCard {
  background-color: #fff;
}
.reviewCard h2 {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
}

.reviewCard h4 {
  font-size: 1rem;
  color: #555;
}

.reviewCard .dateImage {
  font-size: 0.9rem;
  color: #777;
}

.date-style {
  display: flex;
  justify-content: end;
  padding: 8px;
}
