/** @format */

.aboutCard {
  width: 15rem;
  height: 27rem;
  border: 2px solid #184e77;
  border-radius: 5px;
  background-image: linear-gradient(#b5e48c, #52b69a);
  text-align: center;
}
.profileCard {
  width: 30px;
  height: 30px;
}

.nameAndTitle {
  margin-top: 10px;
}

.profileImage {
  /* width: 11rem;
    height: 11rem; */
  width: 150px;
  height: 150px;
  align-items: center;
  margin-top: 1rem;
  border: 3px solid #184e77;
  border-radius: 5px;
  object-fit: cover;
}
.textContact {
  text-align: left;
  margin-left: 3px;
  margin-top: 10px;
  color: #184e77;
}

.text {
  color: black;
  margin-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.text-fullstackDev {
  margin-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #184e77;
}

.textProfile {
  /* margin-top: 10rem; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.linkedinLogo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-top: 40px;
}
