#flagContainer {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  background-image: url("../src/assets/wood2.png");
  background-position: bottom;
  background-size: 100%;
  position: sticky;
  top: 0px;
}
.flags {
  height: 30px;
  width: 30px;
}
.flags:hover {
  cursor: pointer;
}
