/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}

#totalContainer {
  width: 100vw;
  background-color: #fff;
  overflow: hidden;
}

#flagContainer {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  background-color: #fff;
  position: sticky;
  top: 0px;
  z-index: 3;
  padding-right: 1rem;
  width: 100vw;
}
.flags {
  height: 30px;
  width: 30px;
}
.flags:hover {
  cursor: pointer;
}
