#map {
  height: 60rem;
  width: 100rem;
  margin-left: 10rem;

  img {
    height: 60rem;
    width: 100rem;
    position: relative;
  }
  .continenti div {
    position: relative;
    border: solid black;
  }
  .europa {
    left: 45rem;
    bottom: 45rem;
    height: 100px;
    width: 150px;
  }
  .asia {
    left: 65rem;
    bottom: 50rem;
    height: 100px;
    width: 150px;
  }
  .africa {
    left: 48rem;
    bottom: 45rem;
    height: 100px;
    width: 150px;
  }
  .oceania {
    left: 78rem;
    bottom: 42rem;
    height: 100px;
    width: 150px;
  }
  .america-nord {
    left: 18rem;
    bottom: 70rem;
    height: 100px;
    width: 150px;
  }
  .america-sud {
    left: 27rem;
    bottom: 58rem;
    height: 100px;
    width: 150px;
  }
}
@media screen and (max-width: 2560px) {
  .continenti div {
    background-color: lightgreen;
  }
}
@media screen and (max-width: 1440px) {
  .continenti div {
    background-color: blue;
  }
}
@media screen and (max-width: 1024px) {
  .continenti div {
    background-color: red;
  }
}
@media screen and (max-width: 768px) {
  .continenti div {
    background-color: greenyellow;
  }
}
@media screen and (max-width: 425px) {
  .continenti div {
    background-color: orange;
  }
}
@media screen and (max-width: 375px) {
  .continenti div {
    background-color: purple;
  }
}
@media screen and (max-width: 320px) {
  .continenti div {
    background-color: maroon;
  }
}
